# Build output
Debug/
Release/

# IDE settings
.settings/
.metadata
*.launch

# Nested project copy (IDE builds from root)
GLASSALT_SRAM/

# Build artifacts
*.o
*.d
*.elf
*.bin
!image.bin
!100sWheel.bin
!pointerargb4444.bin
!pointer.bin
!baroWheel.bin
!1000sWheel.bin
!10000sWheel.bin
*.hex
*.map
*.list
*.exe
*.dll
